<h1 class = "ml-5"><%= @trip.name %></h1><br>
<div class="container p-3">
<div class="row justify-content-md-center">
<% @trip_entries.each do |e|%>
    <div class="col col-md-auto ml-md-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%=e.location.name%> </h5>
                <p class="card-text"><%= e.journal_entry%></p>
            </div>
        </div>   
        <br>
    </div>

<% end %>
</div>
</div>

<button type = "button" class="btn btn-link"> <%=link_to "Add an Entry to this trip", new_trip_trip_entry_path(@trip)%></button>
<button type = "button" class="btn btn-link"> <%=link_to "Create a new location", new_location_path%></button>
