<h1 class = "ml-5"><%= @trip.name %></h1><br>
<div class="container p-3">
<div class="row justify-content-md-center">
<% @trip_entries.each do |e|%>
    <blockquote class="blockquote text-center">
                <p class="mb-0"><%= e.journal_entry%></p>
                <footer class="blockquote-footer"><%=e.location.name%>, <%= e.created_at.strftime("%b %e, %Y")%> </footer>
    </blockquote>
<hr>
<% end %>
</div>
</div>

<button type = "button" class="btn btn-link"> <%=link_to "Add an Entry to this trip", new_trip_trip_entry_path(@trip)%></button>
<button type = "button" class="btn btn-link"> <%=link_to "Create a new location", new_location_path%></button>
