<h2> Sign up for a new account </h2>

<%if @user.errors.any?%>
    <div class="alert alert-warning" role="alert">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </div>
<% end %>

<%=form_for @user, url: signup_path do |f|%>
    <%=f.label :email%>
    <%=f.text_field :email%>
    <%=f.label :password%>
    <%=f.password_field :password%>
    <%=f.label :password_confirmation%>
    <%=f.password_field :password_confirmation%>
    <%=f.submit %>
<% end %>